# Ignore everything by default
*

# Allow specific directories and their contents
!.vscode/
!.vscode/**/*.json

!Examples/
!Examples/**/*.py
!Examples/**/*.ipynb

!src/
!src/**/*.py
!src/**/*.ipynb

# Allow specific files
!readme
!license
!requirements.txt

# Ignore unnecessary system files (optional)
.DS_Store
Thumbs.db